/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-height and full-width settings */
html,
body {
    height: 100%;
    /* Make sure the body takes up the full height */
    margin: 0;
    /* Remove default margin */
}

/* Centered header */
.header-container {
    text-align: center;
    /* Center the text */
    padding: 20px 0;
    /* Add some padding */
}

/* Flexbox container for image and form */
.form-container {
    display: flex;
    /* Use flexbox to arrange items */
    justify-content: center;
    /* Center items horizontally */
    align-items: flex-start;
    /* Align items to the top */
    height: calc(100vh - 100px);
    /* Full height minus the header height */
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: left;
    margin-right: 5px;
    /* Add some space between image and form */
}

/* Avatar image */
img.avatar {
    width: 48%;
    border-radius: 3%;
    padding: 50px;
}

/* Add padding to containers */
.container {
    padding: 20px;
    width: 300px;
    /* Fixed width for the login form */
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 30px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
    .form-container {
        flex-direction: column;
        /* Stack items on small screens */
        align-items: center;
        /* Center align */
    }

    .imgcontainer {
        margin: 0 20px 0;
        /* Reset margins */
    }

    .container {
        width: 100%;
        /* Full width on small screens */
    }
}